node_modules
public
.tmp
.idea
.vscode
.directory
.yo-rc.json
e2e
*.spec.js
*.events.js
*.integration.js
karma.conf.js
mocha.conf.js
mocha.global.js
protractor.conf.js
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
