<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img class="img-responsive img-thumbnail" ng-src="{{vm.user.avatar}}"/>
      <h4>{{vm.user.displayName}} <small>@{{vm.user.name}}</small></h4>
      <p>{{vm.user.about}}</p>

      <p>
        <div class="btn-group">
          <button type="button" ng-click="vm.showFollowers()" class="btn btn-link">
              Followers<span class="badge">{{vm.user.stats.followers}}</span>
            </button>
          <button type="button" ng-click="vm.showFollowing()" class="btn btn-link">
              Following<span class="badge">{{vm.user.stats.following}}</span>
            </button>
        </div>
      </p>

      <p ng-if="vm.isLoggedIn && !vm.isSelf">
        <button class="btn btn-default" ng-if="!vm.isFollowed" ng-click="vm.follow()">
              <span class="glyphicon glyphicon-plus"></span>
              Follow
            </button>
        <span ng-if="vm.isFollowed" ng-mouseover="_over = true" ng-mouseleave="_over = false">
              <button class="btn btn-success" ng-show="!_over">
                <span class="glyphicon glyphicon-ok"></span> Following
        </button>
        <button class="btn btn-danger" ng-show="_over" ng-click="vm.unfollow()">
                <span class="glyphicon glyphicon-minus"></span> Unfollow
              </button>
        </span>
        <a ui-sref="search({by: vm.user.name})" title="Search" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
        </a>
      </p>
      <p class="text-success" ng-if="vm.isSelf">This is you.</p>
      <p class="text-info" ng-if="!vm.isLoggedIn"><a ui-sref="login()">Log in</a> or <a ui-sref="signup()">sign up</a> to be able to follow users.</p>
    </div>
    <div class="col-md-9">
      <post-list hide-author="true" next-page="vm.nextPage"></post-list>
    </div>
  </div>
</div>
</div>
