<div>
  <h3>
    {{$ctrl.post.title}}
    <br/>
    <small>
      <time-label date="$ctrl.post.date"></time-label>
      <span ng-if="$ctrl.showAuthor"> by <a ui-sref="user({name: $ctrl.post.author.name})">
        {{$ctrl.post.author.displayName}}</a></span>
    </small>
  </h3>
  <div marked="$ctrl.post.cut"></div>
  <p class="post-footer">
    <a ui-sref="post({name: $ctrl.post.author.name, slug: $ctrl.post.slug})">Read more</a>
    <span class="pull-right hidden-xs">
      <small class="glyphicon glyphicon-tag" aria-label="Tags"></small>
      <tag-list tags="$ctrl.post.tags"></tag-list>
    </span>
  </p>
  <hr/>
</div>
