<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h4>Advanced search</h4>
      <form ng-submit="vm.search()">
        <div class="form-group">
          <label for="title">Search for</label>
          <input id="title" type="text" class="form-control" ng-model="vm.text"/>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="vm.caseSensitive"> Case sensitive
          </label>
        </div>
        <button class="btn btn-default" type="submit">Search</button>
      </form>
    </div>
    <div class="col-md-9">
      <post-list next-page="vm.nextPage"></post-list>
    </div>
  </div>
</div>
